/*
* LINK TO BORDER STYLES: https://github.com/GainorB/css-box-model/blob/master/extras.md#this-diagram-shows-you-the-available-border-styles
*/

body {
  font-family: 'Open Sans', sans-serif;
}

.main {
  /* DEFAULT PROPERTIES */
  width: 50%;
  height: 100%;
  text-align: center;
  font-size: 100px;

  /* YOU CAN CHANGE THE BACKGROUND COLOR IF YOU WISH :) */
  background-color: #d9cba3;

  /* PLAY AROUND WITH PADDING, BORDER, AND MARGIN */

  /* padding: px;
  border: width border-style color;
  margin: px; */
}
