body {
  font-family: 'Open Sans', sans-serif;
}

.main {
  /* DEFAULT PROPERTIES */
  width: 50%;
  height: 100%;
  text-align: center;
  font-size: 100px;

  /* YOU CAN CHANGE THE BACKGROUND COLOR IF YOU WISH :) */
  background-color: grey;

  /* PLAY AROUND WITH PADDING, BORDER, AND MARGIN */

  /* padding: px; */
  /* border: width border-style color; */
  /* margin: px; */
}
